.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px gray;
}

/* cirlcular image uses border radius 50% */

/* a tag style change example */
a {
  text-transform: uppercase;
  cursor: help;
  text-decoration: none;
}
a:before {
  content: ">";
}
a:after {
  content: "<";
}
